@font-face{
  font-family: 'maruburi';
  src: url('./fonts/MaruBuriTTF/MaruBuri-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style: normal;
}


/* 기본 리셋 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "maruburi", sans-serif;
  line-height: 1.6;
  color: #333;
  background: #FFF8F6;
}

button {
  font-family: inherit;
}



/* 공통 섹션 */
.section {
  padding: 48px 20px;
  text-align: center;
}
.section-inner {
  max-width: 420px;   /* 모바일 청첩장에 가장 예쁜 폭 */
  margin: 0 auto;
}


h2 {
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 600;
}

.text {
  font-size: 15px;
  color: #555;
}

/* 메인 히어로 */
.hero {
  min-height: 100vh;        /* 화면 높이 100% */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  /* 세로 중앙 정렬 */
  text-align: center;
  padding: 0 16px;

    animation: fadeIn 1.2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-indicator {
  position: absolute;
  bottom: 24px;
  font-size: 18px;
  opacity: 0.5;
  animation: bounce 1.5s infinite;
  transition: opacity 0.4s ease;
}
.scroll-indicator img {
  width: 18px;
  height: auto;
  display: block;
}

.scroll-indicator.hidden {
  opacity: 0;
  pointer-events: none;
}


@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(6px); }
}


.subtitle {
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 12px;
  animation-delay: 0.2s;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 28px;
  margin-bottom: 12px;
  animation-delay: 0.4s;
}

.date {
  font-size: 15px;
  color: #666;
  animation-delay: 0.6s;
}

.subtitle, .title, .date {
  animation: fadeIn 1.2s ease both;
}

.icon,
.heart-icon {
  width: 18px;      /* 모바일 기준 */
  height: auto;
  vertical-align: middle;
  opacity: 0.6;
}

/*----------------*/

.logo {
  width: 140px;
  height: auto;
  vertical-align: middle;
  margin-bottom: 30px;
}

/*----------------*/
/* 갤러리 */

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
}

.photo {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
}

.gallery-modal-content {
  background-color: #FFF8F6;
  padding: 6px;
  border-radius: 6px;


  max-width: 96vw;
  max-height: 90vh;

  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.image-wrapper {
  width: 100%;
  max-height: calc(80vh - 12px); /* 80vh - padding(6*2) */
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-modal-content img {
  touch-action: pan-y; /* 수직 스크롤만 허용, 확대/축소 방지 */
  user-select: none;   /* 텍스트 선택 방지 */
  -webkit-user-drag: none; /* 이미지 드래그 방지 iOS */
  -ms-touch-action: pan-y;
}


#modalImage {
  max-width: 100%;
  max-height: calc(80vh - 12px);
  object-fit: contain;
}

.close-gallery-btn{
  position: absolute;
  top: 5vh;              /* 모달 위 여백 위치 */
  left: 90%;
  transform: translateX(-50%);

  width: 48px;
  height: 48px;

  background: rgba(0,0,0,0.7);
  color: #fff;
  border: none;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  z-index: 1000;
}



/* 감사 */
.thanks {
  background: #ECC1AB;
}

/* 💡 화면이 커질 때 (태블릿 이상) */
@media (min-width: 768px) {
  body {
    max-width: 480px;
    margin: 0 auto;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

.contact-btn {
  padding: 12px 24px;
  font-size: 15px;
  border: none;
  border-radius: 24px;
  background: #333;
  color: #fff;
}

/* 모달 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  inset:0;
}

.hidden {
  display: none;
}

.modal-content {
  background: #fff;
  width: 90%;
  max-width: 360px;
  border-radius: 12px;
  padding: 24px 16px;
  position: relative;
}

.close-btn {
  position: absolute;
  right: 12px;
  top: 12px;
  background: none;
  border: none;
  font-size: 44px;
}

/* 리스트 */
.contact-list {
  list-style: none;
}

.contact-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.actions a {
  margin-left: 8px;
  font-size: 20px;
  text-decoration: none;
}

.contact-section-title {
  font-size: 13px;
  font-weight: 800;
  color: #333;
  margin: 16px 0 8px;
}



/* 첫 섹션은 위 여백 줄이기 */
.contact-section-title:first-of-type {
  margin-top: 0;
}

.calendar {
  margin-top: 24px;

  border-radius: 12px;
  padding: 20px 12px 20px 12px;
}

.calendar-header {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  font-size: 13px;
  text-align: center;
}

.calendar-grid span {
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1 / 1;
  padding: 0;
}

.calendar-grid span:nth-child(-n+7) {
  font-weight: 600;
  color: #333;
}

.sunday {
  color: #f00;
}

.wedding-day {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('assets/images/heart_2.png') no-repeat center center;
  background-size: contain;
  color: #fff; /* 숫자 보이게 할 경우 */
  border-radius: 50%; /* 원형 유지 */
  font-weight: 600;
}


.calendar-note {
  margin-top: 12px;
  font-size: 14px;
  color: #666;
}

.countdown {
  margin-top: 20px;
  text-align: center;
}

.countdown-label {
  font-size: 13px;
  color: #777;
  margin-bottom: 4px;
}

.countdown-day {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
}

/* 지도 영역 */
.map-box {
  margin-top: 20px;
}

.map-thumbnail img {
  width: 100%;
  border-radius: 12px;
  max-width: 100%;
  height: auto;
}

/* 장소 정보 */
.hall-name {
  margin-top: 14px;
  font-size: 16px;
  font-weight: 600;
}

.hall-address {
  font-size: 14px;
  color: #666;
  margin-top: 4px;
}

/* 지도 버튼 */
.map-buttons {
  display: flex;
  gap: 8px;
  margin: 16px 0;
}

.map-buttons a {
  flex: 1;
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
  border-radius: 6px;
  background: #ECC1AB;
  text-decoration: none;
  color: #333;
}

/* 교통 안내 */
.transport-box {
  margin-top: 12px;
  border-top: 1px solid #eee;
  padding-top: 12px;
}

.transport-item + .transport-item {
  margin-top: 12px;
}

.transport-title {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 4px;
}

.transport-text {
  font-size: 14px;
  color: #555;
}

.sub-text {
  margin-top: 20px;
  font-size: 13px;
  color: #777;
}

.location {
  text-align: center; /* 기본은 가운데 */
  padding: 40px 20px;
}

.transport-info {
  text-align: left;   /* 여기서 좌측 정렬 */
  margin-top: 24px;
}

.transport-item {
  margin-bottom: 20px;
}
.transport-item {
  border-left: 2px solid #eee;
  padding-left: 12px;
}


.transport-item h3 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 6px;
}

.transport-item p {
  font-size: 13px;
  margin: 2px 0;
  line-height: 1.5;
}



.account-step {
  display: none;
}

.account-step.active {
  display: block;
}

.select-buttons {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.select-btn {
  flex: 1;
  border: none;
  background: #f6f6f6;
  border-radius: 12px;
  padding: 16px 0;
}

.select-btn img {
  width: 80px;
  margin-bottom: 8px;
}

.select-btn span {
  font-size: 14px;
  font-weight: 600;
}

.close-btn,
.back-btn {
  background: none;
  border: none;
  font-size: 16px;
  margin-bottom: 8px;
    min-width: 44px;
  min-height: 44px;
}

.close-btn:active,
.back-btn:active {
  opacity: 0.6;
}


.account-item {
  display: flex;
  justify-content: space-between;
  align-items: center;   /* 🔑 vertical center */
  padding: 14px 0;
  border-bottom: 1px solid #eee;
}

.account-info {
  display: flex;
  flex-direction: column;
}

.account-main {
  font-size: 12px;
  color: #777;
  margin-top: 4px;
}

.account-name {
  font-size: 14px;
  white-space: normal;
}

.copy-btn {
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #fafafa;
    min-width: 44px;
}


.site-footer {
  padding: 24px 16px 40px;
  text-align: center;
}

.copy-site-btn {
  width: 100%;
  max-width: 320px;
  padding: 14px 0;

  font-size: 14px;
  font-weight: 600;

  border-radius: 40px;
  border: 1px solid #ddd;
  background: #ffffff;

  cursor: pointer;
}

/* 모바일 터치 UX */
.copy-site-btn:active {
  opacity: 0.7;
}




.contact-box {
  border-radius: 12px;
  font-weight: 600;
  margin-top:60px;
  margin-bottom: 60px;
}

.contact-guide {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
}

.contact-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.contact-line::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 0;
}

.contact-line .name,
.contact-line .relation,
.contact-icon-box  {
  position: relative;
  background: #FFF8F6; /* 배경색이 body와 같아야 도트 가려짐 */
  padding: 0 4px;
  z-index: 1;
}

.order {
  font-size: 12px;
  color: #333;
}


.contact-icon-box a{
  margin-left: 10px;
}