---
layout: archive
---

{% assign category = page.category | default: page.title %}

{% if category == 'story' %}
  <h4>STORY 일상을 끄적끄적거리는곳</h4><br/>
{% endif %}

{% if category == 'introduction' %}
  <h4>INTRODUCTION 기본적인 개론을 정리함</h4>
{% endif %}

{% if category == 'howto' %}
  <h4>HOWTOSETENV 개발은 환경설정이 반이다</h4>
{% endif %}

<ul class="posts-list" style="list-style:none;">

  {% for post in site.categories[category] %}
    <li style="background: #e8cd99; padding: 20px 12px; border-radius: 14px; color: #737373;" class="doclist">
      <h3 style="margin:0;">
        <a href="{{ site.baseurl }}{{ post.url }}" style="text-decoration:none">
          {{ post.title }}
        </a>
        <small>{{ post.date | date_to_string }}</small>
      </h3>
    </li>
  {% endfor %}
  
</ul>
